<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">Blockchain Traceability</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse w-100" id="navbarNavAltMarkup">
        <div *ngIf="status" class="navbar-nav ml-auto">
            <a class="nav-item nav-link" routerLink="/addItem">Add item</a>
            <a class="nav-item nav-link" routerLink="" (click)="redirectTo('/register/new')">Register user</a>
            <a class="nav-item nav-link" routerLink="" (click)="redirectTo('/register/'+userId)">Edit user</a>
            <a class="nav-item nav-link" routerLink="" (click)="logout()">Logout</a>
        </div>
    </div>
</nav>