<form action="" (ngSubmit)="onSubmit()">
  <br>
  <h2 class="text-center">New item</h2>
  <hr>

  <div class="form-group">
    <label for="">Name</label>
    <input type="text" class="form-control" name="name" [(ngModel)]="name">
  </div>

  <div class="form-group">
    <label for="">Place</label>
    <input type="text" class="form-control" name="place" [(ngModel)]="place">
  </div>

  <div class="form-group">
    <label for="">Description</label>
    <textarea class="form-control" name="Description" [(ngModel)]="description"></textarea>
  </div>

  <br>
  <div class="text-center" style="margin-bottom: 30px;">
    <button type="submit" class="btn btn-success">Save</button>
    <button type="cancel" class="btn btn-danger" [routerLink]="['/']"  style="margin-left: 10px;">Cancel</button>
  </div>

</form>