<div class="row">
  <div class="col-sm-1">
    {{item.id}}
  </div>
  <div class="col-sm-3">
    {{item.name}}
  </div>
  <div class="col-sm-3">
    {{item.locations[item.locations.length - 1].place}}
  </div>
  <div class="col-sm-3">
    {{item.locations[item.locations.length - 1].datetime}}
  </div>
  <div class="col-sm-2">
    <button class="btn btn-primary btn-sm" (click)="open(mymodal)" style="margin-right: 2%;"><i class="fa fa-search"></i></button>
    <button class="btn btn-warning btn-sm" [routerLink]="['/editItem/'+item.id]" style="margin-right: 2%; color: white;"><i class="fa fa-edit"></i></button>
    <button class="btn btn-danger btn-sm" (click)="onDelete(item)"><i class="fa fa-trash"></i></button>
  </div>

  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{item.id}} - {{item.name}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row text-center">
        <div class="col">
          <ngx-qrcode
            [elementType] = "elementType"
            [value] = "item.id.toString()"
            [errorCorrectionLevel] = "errorCorrectionLevel"
            cssClass="QRCode">
          </ngx-qrcode>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-warning white-color" (click)="downloadQRCode()">Download</button>
      <button type="button" class="btn btn-outline-success" (click)="modal.close('Save click')">Ok</button>
    </div>
  </ng-template>
</div>
<hr/>

